{
  admin off
  log default {
    level {{ if eq .log.level "warning" -}} WARN {{- else }}{{ strings.ToUpper .log.level }}{{ end }}  
    output stdout
    format console
  }
}

{{ join .local.xray.vision.domains ", "}},
{{ join .local.xray.xhttp.domains ", "}},
{{ .params.telegram.domain }} {
  header -Server      # don't reveal we are using caddy
  respond not path /.well-known/acme-challenge/* "Access denied" 403 {
    close
  }
}
