{{- define "logging" -}}
  log default {
    level {{ if eq .log.level "warning" -}} WARN {{- else }}{{ strings.ToUpper .log.level }}{{ end }}  
    output stdout
    format console
  }
{{- end -}}

{
  admin off
  auto_https disable_redirects    # impossible to get rid of "Server: Caddy" header with automatic redirects
  {{ template "logging" . }}

  servers {
    protocols h1 h2               # Exclude http/3 and do not bind to udp/443
  }
}

# Process http acme challenges
:80 {
  header -Server      # don't reveal we are using caddy

  {{ template "logging" . }}

  # This redirect is mostly added for the sake of good order
  # With current haproxy configuration only acme challenges should reach caddy at port 80
  redir https://{host}{uri} 308
}

# Process ssl-termination and tls-alpn acme challenges
{{ join .local.xray.xhttp.domains.caddy ", "}} {
  header -Server      # don't reveal we are using caddy

  {{ template "logging" . }}

  @secret_path path /{{ .local.xray.xhttp.path | strings.Trim "/" }}/*
  @not_secret_path not path /{{ .local.xray.xhttp.path | strings.Trim "/" }}/*

  # Respond with 401 to strangers unaware of a secret path
  respond @not_secret_path "Not Authorized" 401 { 
    close 
  }

  # If secret path is set, route traffic to xray's xhttp plaintext inbound
  reverse_proxy @secret_path {
    to h2c://xray:2443
    flush_interval -1
  }
}
