global
  daemon
  user haproxy
  group haproxy
  maxconn 4096
  log stdout format raw daemon {{ if eq .log.level "debug" }} debug {{ end }}

defaults
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  log global

frontend http
  bind :80
  mode http
 {{ if eq .log.level "debug" "info" }} option httplog {{ end }}
  redirect scheme https code 301
  
frontend https
  bind :443
  mode tcp
 {{ if eq .log.level "debug" "info" }} option tcplog {{ end }}

  # Wait for a client hello for at most 5 seconds
  tcp-request inspect-delay 5s
  tcp-request content accept if { req.ssl_hello_type 1 }

  # Route to the appropriate backend based on the SNI
  use_backend xray-vision if { req.ssl_sni -i {{ .local.xray.vision.SNI }} }
  use_backend xray-xhttp if { req.ssl_sni -i {{ .local.xray.xhttp.SNI }} }
  use_backend telegram

backend xray-vision
  server xray xray:1443
  
backend xray-xhttp
  server xray xray:2443

backend telegram
  server mtg mtg:443
