global
  daemon
  user haproxy
  group haproxy
  maxconn 4096
  log stdout format iso daemon {{ if getenv "DEBUG" }} debug {{ end }}

defaults
  mode tcp
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  log global
 {{ if getenv "DEBUG" -}} option httplog {{ end -}}

frontend http
  bind :80
  redirect scheme https code 301
  
frontend https
  bind :443
  use_backend xray-reality if { req.ssl_sni -i {{ .settings.xray.reality.SNI }} }
  default_backend telegram

backend xray-reality
  server xray xray:443

backend telegram
  server telegram mtg:443
