global
  daemon
  user haproxy
  group haproxy
  maxconn 4096
  # expose-experimental-directives    # Allow ACME experimental features
  log stdout format raw daemon

defaults
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  log global
{{- if eq .log.level "debug" "info" }}
  option logasap
  log-format "%[accept_date(ms),ms_ltime('%Y/%m/%d %H:%M:%S.%3N')] | %ci:%cp > %f '%[capture.req.hdr(0)]' > %b/%s"
{{- end }}

{{ $domains := ( coll.Slice
                .local.xray.reality.domains 
                .local.xray.xhttp.domains.xray
                .local.xray.xhttp.domains.nginx
                .local.xray.xhttp.domains.haproxy
                .local.xray.xhttp.domains.cdn
                .params.telegram.domain 
               ) | flatten -}}

# acme LE
#   directory https://acme-staging-v02.api.letsencrypt.org/directory
#   # account-key /certs/LE.account.key
#   contact admin@{{ index $domains 0 }}
#   challenge http-01
#   map virt@acme

# crt-store
# {{- range $domains }}
#   load crt "{{ . }}.pem" acme LE domains "{{ . }}"
# {{- end }}

{{ define "logHttpHeader" -}}
  {{ if eq .log.level "debug" "info" -}}
    capture request header Host len 32
  {{ end }}
{{- end -}}

frontend http
  bind [::]:80 v4v6
  mode http
  {{ template "logHttpHeader" . -}}
  # http-request return status 200 content-type text/plain lf-string "%[path,field(-1,/)].%[path,field(-1,/),map(virt@acme)]\n" if { path_beg '/.well-known/acme-challenge/' }
  use_backend caddy-http if { hdr(host) -i {{ join .local.xray.xhttp.domains.caddy " " }} }
  redirect scheme https code 308

  
frontend fake-server
  bind [::]:8080 v4v6
  mode http
  {{ template "logHttpHeader" . -}}
  http-request return status 401 content-type "text/plain" lf-string "Not Authorized"

frontend route-by-sni
  bind [::]:443 v4v6
  mode tcp

  # Wait for a client hello for at most 5 seconds
  tcp-request inspect-delay 5s

{{- if eq .log.level "debug" "info" }}
  tcp-request content capture req.ssl_sni len 32
{{- end }}

  # Process the request only if it contains SSL Client Hello
  tcp-request content accept if { req.ssl_hello_type 1 }

  # Route to the appropriate backend based on the SNI
  use_backend loopback-ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.haproxy " " }} }
  use_backend xray-reality if { req.ssl_sni -i {{ join .local.xray.reality.domains " " }} }
  use_backend xray-xhttp-ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.xray " " }} }
  use_backend xray-xhttp-ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.cdn " " }} }
  use_backend nginx-ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.nginx " " }} }
  use_backend caddy-ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.caddy " " }} }
  use_backend telegram if { req.ssl_sni -i {{ .params.telegram.domain }} }


frontend terminate-ssl
  bind [::]:8443 v4v6 ssl
  mode http
  {{ template "logHttpHeader" . -}}

  {{ range $domains }}
  ssl-f-use crt "/certs/{{ . }}.crt" key "/certs/{{ . }}.key"
  {{- end }}

  use_backend xray-xhttp if { hdr(host) -i {{ join .local.xray.xhttp.domains.haproxy " " }} }
  default_backend loopback-fake


backend loopback-ssl
  mode tcp
  server self localhost:8443
  
backend loopback-fake
  mode http
  server self localhost:8080
  
backend nginx-ssl
 mode tcp
 server nginx nginx:443

backend caddy-ssl
 mode tcp
 server caddy caddy:443
  
backend caddy-http
 mode http
 server caddy caddy:80

backend xray-reality
  mode tcp
  server xray xray:1443
  
backend xray-xhttp-raw
  mode http
  server xray xray:2443
  
backend xray-xhttp-ssl
  mode tcp
  server xray xray:3443

backend telegram
  mode tcp
  server mtg mtg:443
