global
  daemon
  user haproxy
  group haproxy
  maxconn 4096
  expose-experimental-directives    # Allow ACME experimental features
  log stdout format raw daemon

defaults
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  log global
{{- if eq .log.level "debug" "info" }}
  option logasap
  log-format "%[accept_date(ms),ms_ltime('%Y/%m/%d %H:%M:%S.%3N')] | %ci:%cp > %f '%[capture.req.hdr(0)]' > %b/%s"
{{- end }}

{{ $terminate_ssl_for_domains := ( coll.Slice
                                    .local.xray.xhttp.domains.haproxy
                                    .local.xray.reality.domains
                                    .params.telegram.domain 
                                  ) | flatten -}}

acme LE
  directory https://acme-staging-v02.api.letsencrypt.org/directory
  account-key /certs/LE.account.key
  contact admin@{{ index $terminate_ssl_for_domains 0 }}
  challenge http-01
  map virt@acme

crt-store
{{- range $terminate_ssl_for_domains }}
  load crt "/certs/{{ . }}.pem" acme LE domains "{{ . }}"
{{- end }}


{{- define "logHttpHeader" -}}
  {{ if eq .log.level "debug" "info" -}}
    capture request header Host len 32
  {{ end }}
{{- end }}


frontend http
  bind [::]:80 v4v6
  mode http
  {{ template "logHttpHeader" . -}}

  acl acme_challenge  path -m beg       /.well-known/acme-challenge/
  acl haproxy_host    hdr_dom(host) -i  {{ join .local.xray.xhttp.domains.haproxy " " }}
  acl caddy_host      hdr_dom(host) -i  {{ join .local.xray.xhttp.domains.caddy " " }}

  # Reply to haproxy-initiated acme-challenges
  http-request return status 200 content-type text/plain lf-string "%[path,field(-1,/)].%[path,field(-1,/),map(virt@acme)]\n" if acme_challenge haproxy_host

  # Redirect all but acme-challenges http requests to https
  redirect scheme https code 308 unless acme_challenge

  # Forward all caddy-initiated acme-challenges to caddy and all other to acme.sh
  use_backend caddy_http if acme_challenge caddy_host
  use_backend acme_http if acme_challenge


frontend route_by_sni
  bind [::]:443 v4v6
  mode tcp

  # Wait for a client hello for at most 5 seconds
  tcp-request inspect-delay 5s

{{- if eq .log.level "debug" "info" }}
  tcp-request content capture req.ssl_sni len 32
{{- end }}

  # Process the request only if it contains SSL Client Hello
  tcp-request content accept if { req.ssl_hello_type 1 }

  # Route to the appropriate backend based on the SNI
  use_backend loopback_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.haproxy " " }} }
  use_backend xray_reality if { req.ssl_sni -i {{ join .local.xray.reality.domains " " }} }
  use_backend xray_xhttp_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.xray " " }} }
  {{ if test.IsKind "slice" .local.xray.xhttp.domains.cdn -}}
    use_backend xray_xhttp_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.cdn " " }} }
  {{- end -}}
  use_backend nginx_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.nginx " " }} }
  use_backend caddy_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.caddy " " }} }
  use_backend telegram if { req.ssl_sni -i {{ .params.telegram.domain }} }


# HAProxy is terminating SSL for Xray xhttp
# and in process of domain-fronting for Xray Reality, and Telegram proxy
frontend terminate_ssl
  bind [::]:8443 v4v6 ssl
  mode http
  {{ template "logHttpHeader" . -}}

  {{ range $terminate_ssl_for_domains }}
  ssl-f-use crt "/certs/{{ . }}.pem"
  {{- end }}

  acl haproxy_host  hdr_dom(host) -i  {{ join .local.xray.xhttp.domains.haproxy " " }}
  acl secret_path   path -m beg       /{{ .local.xray.xhttp.path | strings.Trim "/" }}/
  
  use_backend xray_xhttp_raw if haproxy_host secret_path
  default_backend loopback_fake


# A fake web-server returning 401 for every unexpected request in terminate-ssl frontend:
# when HAProxy is terminating ssl for Xray xhttp but secret path check fails
# or in process of domain-fronting for Telegram proxy and Xray Reality 
frontend fake_server
  bind [::]:8080 v4v6
  mode http
  {{ template "logHttpHeader" . -}}
  http-request return status 401 content-type "text/plain" lf-string "Not Authorized"


backend loopback_ssl
  mode tcp
  server self localhost:8443

backend loopback_fake
  mode http
  server self localhost:8080

backend caddy_http
 mode http
 server caddy caddy:80

backend acme_http
 mode http
 server acme acme:80

backend nginx_ssl
 mode tcp
 server nginx nginx:443

backend caddy_ssl
 mode tcp
 server caddy caddy:443

backend xray_reality
  mode tcp
  server xray xray:1443
  
backend xray_xhttp_raw
  mode http
  server xray xray:2443
  
backend xray_xhttp_ssl
  mode tcp
  server xray xray:3443

backend telegram
  mode tcp
  server mtg mtg:443
