global
  daemon
  user haproxy
  maxconn 4096
  log stdout format raw daemon

  stats socket /var/lib/haproxy/admin.sock mode 600 level admin

  # Tuning performance:
  tune.h2.initial-window-size 10485760   # 10Mb
  tune.h2.max-concurrent-streams 100

defaults
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  log global
{{- if eq .log.level "debug" "info" }}
  option logasap
  log-format "%[accept_date(ms),ms_ltime('%Y/%m/%d %H:%M:%S.%3N')] | %ci:%cp > %f '%[capture.req.hdr(0)]' \"%[capture.req.method] %[capture.req.uri]\" > %b/%s"
{{- end }}

{{- define "logHttpHeader" -}}
  {{ if eq .log.level "debug" "info" -}}
    capture request header Host len 32
  {{ end }}
{{- end }}


# Process all http requests and either forward to https or pass to acme.sh
frontend http
  bind [::]:80 v4v6
  mode http
  {{ template "logHttpHeader" . -}}

  acl acme_challenge  path -m beg       /.well-known/acme-challenge/

  # Redirect all http requests except acme challenges to https
  redirect scheme https code 308 unless acme_challenge

  # Forward acme challenges to acme.sh
  use_backend acme_http if acme_challenge


# Process all https requests and distribute them based on the SNI
frontend route_by_sni
  bind [::]:443 v4v6
  mode tcp

  # Wait for a client hello for at most 5 seconds
  tcp-request inspect-delay 5s

{{- if eq .log.level "debug" "info" }}
  tcp-request content capture req.ssl_sni len 32
{{- end }}

  # Process the request only if it contains SSL Client Hello
  tcp-request content accept if { req.ssl_hello_type 1 }

  # Route to the appropriate backend based on the SNI
  use_backend xray_reality if { req.ssl_sni -i {{ join .local.xray.reality.domains " " }} }
  use_backend loopback_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.direct " " }} }
  {{ if test.IsKind "slice" .local.xray.xhttp.domains.cdn -}}
    use_backend xray_xhttp_ssl if { req.ssl_sni -i {{ join .local.xray.xhttp.domains.cdn " " }} }
  {{ end }}

# Internal frontend terminates SSL and serves as a domain-fronting fallback
frontend terminate_ssl
  bind [::]:8443 v4v6 tfo allow-0rtt ssl strict-sni crt /certs 
  mode http
  {{ template "logHttpHeader" . -}}

  acl secret_path   path -m beg       /{{ .local.xray.xhttp.path | strings.Trim "/" }}/
  
  use_backend xray_xhttp if secret_path
  default_backend loopback_fake


# A fake web-server returning 401 for every unexpected request
frontend fake_server
  bind [::]:8080 v4v6
  mode http
  {{ template "logHttpHeader" . -}}
  http-request return status 401 content-type "text/plain" lf-string "Not Authorized"


backend loopback_ssl
  mode tcp
  server self localhost:8443

backend loopback_fake
  mode http
  server self localhost:8080

backend acme_http
 mode http
 server acme acme:80

backend xray_reality
  mode tcp
  server xray xray:443
  
backend xray_xhttp
  mode http
  server xray xray:80 proto h2
